# Core UI
PySide6

# Data & Math
numpy
opencv-python
matplotlib
tqdm

# AI & Rendering
ultralytics
PyOpenGL
PyOpenGL-accelerate
pyassimp
# torch and pytorch3d are handled specially in the setup script for CUDA support
